.jumboimg {
    width:100%;
    /*background: url('https://firebasestorage.googleapis.com/v0/b/outdooradventurecrew-a3400.appspot.com/o/Jumbotron.jpg?alt=media&token=509956ab-9875-46a0-b454-bbd3d18e7843') no-repeat top center;*/
    background-size: cover;
    /*height: 42em;*/
}

.jumbo-top {
    margin-top: 2.2em;
}

#ji-title-wide {
    /*display: none;*/

    /*top: 4.8em;*/
    top: 50%;

    color: #fff;
    text-align: center;

    /*padding: .1em .4em;*/

    /*margin: 0 0 0 .9em;*/
    /*background-color: rgba(0,0,0,.4);*/
    /*!*width: 45%;*!*/

    font-size: 82px;
}

#ji-title-small {

    font-family: 'Bree Serif', serif;

    /*top: 6.8em;*/
    top: 30%;
    /*position: relative;*/
    color: #fff;
    padding: .1em 2em .1em .6em;

    margin: 0 0 0 24%;
    background-color: rgba(0,0,0,.4);
    /*!*width: 45%;*!*/

    font-size: 42px;
}