.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    z-index: 21;
    position: relative;
    top: 15%;
    margin: 0 auto;
    width: 60%;
    height: 30%;
    background-color: #F6F7F6;

    padding:1em 2em 6em 2em;
    line-height: 40px;
    font-family: 'Bree Serif', serif;
    /*text-align: center;*/
    font-size: 32px;
}

.overlay-content input, #submit-button {
    transition: background-color 0.5s linear;
}

.overlay-content input {
    font-size: 28px;
    width: 99.5%;
    margin: -1em 0 0 0;
    padding: .1em 0;
    color:#ccc;
    font-weight: 300;
}

#submit-button:hover {
    cursor: pointer;
    background-color: rgba(16,9,0,1);
    transition: background-color 0.5s linear;
}

#submit-button {
    font-size: 32px;

    width: 100%;
    margin: .7em 0;
    background-color: #3E3831;
    line-height: 32px;
    padding: .3em 0;
    color:#a9b0ac;
    text-align: center;
}



.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}